@font-face {
        font-family: "TerminusWeb";
        src: url('/font/Terminus.ttf');
}

*
{
	margin: 0;
	padding: 0;
}

body, input {
  font: 16px "Terminus", "TerminusWeb", monospace;
}

#term
{
	background: #000;
	color: #0F0;
	height: 700px;
	width: 100%;
}

#cursor
{
	background: #000;
	border: none;
	color: #0F0;
	width: 100%;
}
