@font-face {
        font-family: "TerminusWeb";
        src: url('/font/Terminus.ttf');
}

*
{
	margin: 0;
	padding: 0;
}

body, input {
  	font: 16px "Terminus", "TerminusWeb", monospace;
	background: #222;
}

div {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

#term
{
	padding-left: 10px;
	color: #0F0;
	height: 700px;
	width: 100%;
}

#cursor
{
	border: none;
	color: #0F0;
	float: left;
	width: 95%;
}

#promptPath {
	float: left;
	margin-right: 10px;
}
